<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UVS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBA322CB16F0EF0300C51537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBA322F416F0EF0400C51537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBEA2E3916E5231300768173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBEA2E6216E5231300768173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
